html {
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

input:checked {
    border: 6px solid black;
}

#adminSetting {
    display: none;
}

#typeSelection {
    margin-left: 50px;
    border-radius: 0.25em;
    padding: 3px 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #7dece45c;
    background-image: linear-gradient(to top, #f9f9f9, #7dece45c 33%);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    background: #7dece45c;
    border: 3px solid #2bd0d4;
    color: black;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background: #7dece45c;
}

.select2-container--default .select2-selection--multiple {
    border: 3px solid #2bd0d4;
    border-radius: 24px;
    padding: 14px 10px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    background: #7dece45c;
    border: 3px solid #2bd0d4;
    border-radius: 5px;
}

.select2-container--default .select2-selection--multiple {
    background-color: #7dece45c;
    color: black;
}

.select2-results__option {
    color: black;
    background-color: #7dece45c;
}

.select2-container--default .select2-results__option--selected {
    background: #7dece45c;
    color: black;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #7dece45c;
    color: black;
}

#genreSelection {
    width: 250px;
    color: black;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

header {
    background: #40407ab0;
    padding: 10px 40px 10px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 35px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dc {
    min-width: 120px;
    background-color: #40407ab0;
    display: none;
    position: absolute;
    right: 122px;
    z-index: 1;
}

.dropdown-content_genres {
    top: 0px;
}

.dropdown-content_types {
    top: 63px;
}

.dropdown-content_releaseDate {
    top: 110px;
}

.dc a {
    display: block;
    padding: 12px 16px;
}

.dc a:hover {
    background-color: #323268e0;
    color: #ffdd59;
}

.dropdown:hover .dc {
    display: block;
}

.dropdown-content {
    min-width: 120px;
    background-color: #40407ab0;
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    background-color: #323268e0;
    color: #ffdd59;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    font-size: 23px;
}

nav ul li.home {
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

nav ul li.home a:hover {
    color: #ffdd59;
}

nav div.search-icon {
    background: #323e4d;
    border-radius: 50px;
    height: 40px;
}

.search-btn {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    width: 700px;
    line-height: 40px;
}

nav ul li.user {
    padding: 15px;
    transition: all 0.3s ease 0s;
}

nav ul li.user:hover {
    color: #ffdd59;
}

/*.typeContent {*/
/*    float: left;*/
/*}*/

button {
    background: none;
    text-align: center;
    color: white;
    font-family: cursive;
    padding: 12px 16px;
    border: none;
    font-size: 16px;
}

button:hover {
    color: #ffdd59;
}

.adminSetting {
    text-align: left;
}

content {
    margin: auto;
    width: 900px;
    background-color: white;
    display: flex;
}

.dropdown-content_genres, .dropdown-content_types, .dropdown-content_releaseDate {
    float: right;

}

.dropdown-content_releaseDate {
    width: 300px;
}

.dropdown-content_genres {
    width: 320px;
}

.dropdown-content_types {
    width: 100px;
}

::-webkit-scrollbar {
    display: none;
}

.vertical-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    height: 83%;
    width: 900px;
    background: #40407ab0;;
}

#pagination {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background: #07071bb0;
}

#statusPanel {
    align-items: center;
    display: block;
    margin-left: 318px;
    overflow-y: auto;
    height: 45px;
    width: 900px;
    background: #07071bb0;
}

.titllistButton {
    margin-right: 10px;
}

.anime {
    border-width: 3px;
    border-color: #ffdd59;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 300px;
    height: 300px;
    align-items: center;
}

.anime p {
    line-height: 1.5;
}

.status {
    float: left;
}

.animeStatus {
    float: right;
    font-size: 21px;
    color: #ffaf1a;
}

#buttonHome {
    font-size: 23px;
}

