.modal-header {
    padding: 2px 16px;
    background-color: #39d594d1;
    color: white;

}

.modal-body {
    padding: 5px 16px;
}

.modal {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    position: fixed;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.addAnimeBody {
    display: none;
}

.usersBody {
    display: none;
}

.modal-content {
    position: relative;
    background: #40407ab0;
    border: 1px solid #282847cf;
    width: 30%;
    margin: 6% auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close, .closeWindow, .closeAnimeWindow {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.closeWindow:hover,
.closeWindow:focus,
.closeAnimeWindow:hover,
.closeAnimeWindow:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form.changePassword input[type = "password"] {
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #2bd0d4;
    background-color: #7dece45c;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    font-family: cursive;
    font-weight: bold;
    border-radius: 24px;
    transition: 0.25s;
}

form.newAnime input.animeField[type="text"] {
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 3px solid #2bd0d4;
    background-color: #7dece45c;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: black;
    font-family: cursive;
    font-weight: bold;
    border-radius: 24px;
    transition: 0.25s;
}

form.newAnime input.animeField[type="text"]:focus {
    width: 200px;
    border-color: #33d9b2;
}

form.changePassword input[type = "password"]:focus {
    width: 280px;
    border-color: #33d9b2;
}

label {
    display: block;
}

.option {
    color: black;
}

placeholder {
    color: black;
    font-weight: bold;
    font-family: cursive;
}

form.changePassword input[type = "submit"], form.newAnime input[type = "submit"]{
    display: block;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #33d9b2;
    padding: 8px 15px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

#changeRole input[type = "submit"] {
    display: block;
    background: none;
    text-align: center;
    border: 3px solid #33d9b2;
    padding: 4px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    float: right;
}

#changeRole input[type = "submit"]:hover {
    background: #33d9b2;
}

.changeRoleButton {
    display: block;
}

form.changePassword input[type = "submit"]:hover, form.newAnime input[type = "submit"]:hover {
    background: #33d9b2;
}

.sett_title {
    font-size: 18px;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

#userTable {
    width: 100%;
}

td {
    padding: 0;
    text-align: center;
}

.tdUser, .tdRole {
    font-size: 23px;
    color: khaki;
}



.tdRole {
    width: 50%;
}

